<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318463478846-2i9l9uj44tr7dk8vdnshnmeu9dh7ggpc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318463478846-2i9l9uj44tr7dk8vdnshnmeu9dh7ggpc</string>
	<key>API_KEY</key>
	<string>AIzaSyC33-OdfgwCPmAUILdFE8UZBV6ZmTHqkvc</string>
	<key>GCM_SENDER_ID</key>
	<string>318463478846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>secureFolderIOS.Secure-Folder</string>
	<key>PROJECT_ID</key>
	<string>sfolder-fyp-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>sfolder-fyp-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318463478846:ios:727ec35f0fe34378c6156f</string>
</dict>
</plist>